<h1>Admin</h1>

<h3>Campaigns</h3>
<p>Here is the list of active campaigns that can be mapped to phone numbers.</p>

<p *ngIf="!campaigns"><em>Loading...</em></p>

<table class='table' *ngIf="campaigns">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let campaign of campaigns">
            <td>{{ campaign.id }}</td>
            <td>{{ campaign.name }}</td>
            <button class="btn btn-danger" (click)="deleteCampaign(campaign.id)"><span class="glyphicon glyphicon-remove"></span></button>
        </tr>
    </tbody>
</table>

<input class="new-campaign" placeholder="New campaign?" autofocus="" [(ngModel)]="newCampaign.name" (keyup.enter)="addCampaign()">

