<h1>Call</h1>

<h3>Standard Open</h3>
<p>It’s a great day at Penstar Power. My name is [Agent Name]. May I provide you with new electricity service today?

May I have the address where you need the service, please?

Please say THANK YOU after responses from the customer.</p>

<p>May I have your name, please. Allow the customer to answer.

Can you spell your first name, please? Can you spell your last name?</p>

<h4>How did you hear about us?</h4>
<p>
    Friend:  Does the friend/family currently have service with Penstar Power? 
    If so, they will be rewarded with a referral bonus 30 days after your service activation date!! 
    (Agent then documents the account with the referral name, account number.)
</p>

<h4>Critical Care?</h4>
<p>Mr./Ms. [Customer Last Name], are you or anyone at this service address certified by Oncor as being critical care or chronic care?
</p>

<h4>Service Start</h4>
<p>How soon do you need your service?</p>

<h4>
Contact Info & Pin
</h4>>
<p>
I show we can service your address. We can get your service on TODAY with no deposit. I just need to get a little information to get started.

Do you have a phone number that can receive text messages?

Mr./Ms. [Customer Last Name], All plans require an active email address in order for us to send required compliance documents. May I have your email address?

What 4 digit security PIN would you like on your account?
</p>

<p>
Mr./Ms. [Customer Last Name], we can get you started today with no deposit. We are waiving the expedite fee, so there is no additional charge to start your service today.

We will also reward you with $250 in free electricity which will automatically be credited to your account after 6-months at $25 per quarter. Your kilowatt rate is 10.4₵ per kilowatt.

Your address has an advanced digital meter. Penstar Power will receive your meter reads on a daily basis. Each day, as your reads come in, your account balance will be reduced based on the amount of your reads. We will notify you by text of your account balance. If your balance is low, you will need to make a payment.  As long as your account does not fall below $10, your lights stay on. Once your lights come on, you will need to make a payment within 1-2 days.

There is no minimum payment required; you simply need to keep your available balance above $10. You’ll be able to make payments over the phone with us using a debit or credit card.  You can also make payments online or at any ACE Check Cashing or MoneyGram location.
If your lights go off, there is a $10 service disconnection fee, which would need to be included in the amount you pay to reconnect your services.

All that’s required is a quick recorded authorization, a minimum payment of $75, and we can get your lights on today. Once we finish the authorization, I’ll provide you with your account number.  You can make a payment with me or at any of our payment centers, and your lights should be on in 1-2 hours from when your payment posts.
</p>

<p>
Are you ready for the recorded authorization?
</p>

Mr./Mrs. [Customer Last Name], I need to let you know we are recording this call.

You agree to become a customer with Penstar Power and allow Penstar Power to complete the tasks required to start your electric service or switch your service from your current provider.

 AgreeDisagree
Hang-up
The service address and billing address is:

[Customer Address]


 Yes, Confirm
No, Edit Address
Hang-up
Order processing varies by TDSP and may require 1-2 business hours to complete. The TDSP in your area is Oncor. Penstar Power’s Smart Meter PAY AS YOU GO does not require a contract. Service is provided month to month.

Terms of Service
Our Terms of Service, Your Rights as a Customer and the Electricity Facts Label are available at www.PenstarPower.com and will be sent to you for review. These documents will explain the conditions under which we agree to supply you electricity. If you are switching to Penstar Power from another provider, you have the right to rescind your switch request without fees or penalties of any kind by contacting us before midnight of the 3rd federal business day.

Our Electricity Facts Label explains the current price Penstar Power charges for electricity. With the $10 promotional credit, your kilowatt rate is 10.4₵ per kWh based on 2000 kilowatts used and could change based on market changes.

Hang-up
If you agree with this information, and authorize Penstar Power to become your retail electric provider, please provide me with your complete date of birth.

Enter the DOB in the appropriate field, also enter the year in the security question for year of birth.
(AUTHORIZATION HAS BEEN COMPLETED AT THIS POINT AND YOU ARE ABOUT TO PROVIDE THE CUSTOMER THEIR ACCOUNT NUMBER)

 
MM/DD/YYYY


____
Hang-up
Mr./Mrs. [Customer Last Name], we’ve completed the authorization. If you have something to write with, I’d like to provide you with your account number.

Your account number is [Account Number]

At this time your order has been submitted. We will have you connected within 1-2 hours (if same day).  As a reminder, you will need to get a payment on your account within 1-2 days.  We recommend an initial payment of $100, however no minimum payment is required. 

Would you like to make a payment with me now?

 Yes, Pay Now
No, Promise to Pay
Payment Locations
Hang-up
You can make a payment online at www.penstarpower.com/mobile using your credit or debit card with a Master Card or Visa logo. Also, you can go to any Ace location with your account number to make a payment.

If the customer expresses none of the above payment options is acceptable, proceed with following:

You may make a payment to your account with MoneyGram at any Walmart or CVS Pharmacy. You will need our receive code for MoneyGram which is 3622.

Close
Hang-up
Mr. Mrs. [Customer Last Name], Do you have any questions for me?

WELCOME To Penstar Power. 
Have a Powerful Day!

<p>Current count: <strong>{{ currentCount }}</strong></p>

<button (click)="incrementCounter()">Increment</button>
